@use 'sass:map';

$breakpoints: (
  tiny: 320px,
  phone: 400px,
  midscreen: 565px,
  tablet: 795px,
  laptop: 1024px,
  desktop: 1250px,
  desktop-large: 1440px,
  ultra-wide: 1920px
);

// Max breakpoints
$breakpoints-max: (
  tiny: 319px,
  phone: 399px,
  midscreen: 564px,
  tablet: 794px,
  laptop: 1023px,
  desktop: 1249px,
  desktop-large: 1439px,
  ultra-wide: 1919px
);


@function breakpoint($key) {
    @return map.get($breakpoints, $key);
}
  
@function breakpoint-max($key) {
    @return map.get($breakpoints-max, $key);
}
  