// Tamaño de Media Queries
$tiny: 320px; // Móvil
$phone: 400px; // Móvil
$midscreen: 565px; // Móvil
$tablet: 795px; // Tablet
$laptop: 1024px; // Laptop
$desktop: 1250px; // Desktop
$desktop-large: 1440px; // Desktop grande
$ultra-wide: 1920px; // Pantallas ultra anchas

// Tamaño de Media Queries con 1px menos para evitar problemas de compatibilidad
$tiny-max: $tiny - 1px; // 319px
$phone-max: $phone - 1px; // 399px
$midscreen-max: $midscreen - 1px; // 564px
$tablet-max: $tablet - 1px; // 794px
$laptop-max: $laptop - 1px; // 1023px
$desktop-max: $desktop - 1px; // 1249px
$desktop-large-max: $desktop-large - 1px; // 1439px
$ultra-wide-max: $ultra-wide - 1px; // 1919px