@use 'tokens/colors' as c;
@use 'tokens/fonts' as f;
@use 'mixins/text' as t;

$transition-ease: all 0.1s ease-in-out;

* {
  transition: $transition-ease;
}


body{
    font-family: f.font(family, base);
    line-height: f.font(line, normal);
    color: c.color(brand-5, text);
    background-color: c.color(brand-5);
    font-size: 1.8rem;
}
  
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: var(--heading-color);
    margin-bottom: 1rem;
}
  
p {
    margin-bottom: 1rem;
}
  
ul, ol {
    list-style: none;
}
  
