@use 'tokens/colors' as c;
@use 'tokens/fonts' as f;
@use 'mixins/text' as t;

body{
    font-family: f.font(family, base);
    //font-weight: f.font(weight, black);
    font-size: f.font(size, xxl);
    line-height: f.font(line, normal);
    color: c.color(brand-5, text);
    background-color: c.color(brand-5);
}
  
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: var(--heading-color);
    margin-bottom: 1rem;
}
  
p {
    margin-bottom: 1rem;
}
  
ul, ol {
    list-style: none;
}
  
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}