@use 'sass:math';
@use 'tokens/colors' as c;
@use 'tokens/fonts';
@use 'tokens/spacing';
@use 'tokens/radius';
@use 'mixins/buttons';
@use 'mixins/cards';
@use 'mixins/media';
@use 'mixins/grid';
@use 'mixins/text';

.footer{
    background-color: c.c(brand-3);
    color: c.c(brand-3, text);
    padding: 3.5rem;
}